@use "../../styles/variables" as *;

.backgound {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  height: 100%;
  width: 100%;
  background-color: #00000054;
}

.modal {
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content min-content;
  grid-template-rows: min-content 1fr;
  align-items: center;
  padding: 17px 29px;
  border-radius: 6px;
  background-color: $white;

  &__close {
    grid-column: 3;
    margin-left: auto;
    margin-bottom: 26px;
    cursor: pointer;
    background-color: transparent;

    &-icon {
      min-width: 15px;
    }
  }

  & img {
    height: 100%;
  }

  &__text {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    margin-left: 87px;
    margin-right: 7px;
    min-width: 328px;

    & h3 {
      color: $gray-dark;
      font-size: 20px;
      margin-bottom: 6px;
      text-transform: uppercase;
    }

    &-price {
      margin-bottom: 22px;
      color: $gray-dark;
      font-size: 20px;
      font-weight: 600;
    }

    &-description {
      margin-bottom: 10px;
      color: $gray-light;
      font-size: 10px;
      font-weight: 500;
      font-family: "Work Sans";
    }

    & a {
      color: $blue;
      font-size: 11px;
      font-weight: 600;
      font-family: "Work Sans";
    }

    &__buttons {
      display: flex;
      gap: 12px;
      height: 100%;
      margin-top: 32px;

      &__quantity {
        display: flex;
        align-items: center;
        gap: 15px;
        height: 36px;
        border: 1px solid #d9d9d9;
        border-radius: 4px;

        &-btn {
          padding: 0 9px;
          color: $purple;
          font-size: 20px;
          background-color: transparent;
          cursor: pointer;

          &--disabled {
            color: $gray-light;
          }
        }

        & p {
          color: $purple;
          font-weight: 600;
        }
      }
    }
  }
}
