@use "../../styles/variables" as *;

.newsletter {
  display: flex;
  justify-content: space-between;
  padding: 40px 80px;
  background-color: $purple;

  &__text {
    & h3 {
      color: $white;
      font-size: 32px;
      font-family: "Outfit";
      font-weight: 600;
    }

    & p {
      width: 80%;
      color: $white;
      font-size: 14px;
      font-weight: 300;
    }
  }

  &__form {
    &_main {
      display: flex;
      align-items: center;
      gap: 8px;

      &_input-text {
        font-size: 14px;
        padding: 12px 24px;
        border-radius: 8px;
      }
    }

    &-terms {
      display: flex;
      align-items: center;
      gap: 4px;
      margin-top: 8px;

      & label {
        color: $white;
        font-size: 14px;
      }
    }
  }
}
